/tools/homebrew/
/tools/dein.vim/.netrwhist

# Manage files under config/ based on whitelist.
/config/*
!/config/_vim/
!/config/nvim/
/config/nvim/.init.vim-rplugin~
/config/nvim/local.vim

# Use whitelist for mitmproxy.
/mitmproxy/*
!/mitmproxy/common.conf


# Ignore local configurations.
/zsh/zshrc_env_local
