[submodule "tools/pyenv"]
	path = tools/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "tools/pyenv-plugins/virtualenv"]
	path = tools/pyenv-plugins/virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
[submodule "tools/ndenv"]
	path = tools/ndenv
	url = https://github.com/riywo/ndenv.git
[submodule "tools/ndenv-plugins/node-build"]
	path = tools/ndenv-plugins/node-build
	url = https://github.com/riywo/node-build.git
[submodule "config/vim/develop/bombay.vim"]
	path = config/vim/develop/bombay.vim
	url = git@github.com:mitsuse/bombay.vim.git
[submodule "config/vim/develop/neocomplete-prefix-vim"]
	path = config/vim/develop/neocomplete-prefix-vim
	url = git@github.com:mitsuse/neocomplete-prefix-vim.git
[submodule "tools/neobundle.vim"]
	path = tools/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "config/vim/develop/backlog-vim"]
	path = config/vim/develop/backlog-vim
	url = git@github.com:mitsuse/backlog-vim.git
[submodule "config/vim/develop/neocomplete-ngram-vim"]
	path = config/vim/develop/neocomplete-ngram-vim
	url = git@github.com:mitsuse/neocomplete-ngram-vim.git
[submodule "tools/rbenv"]
	path = tools/rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "tools/rbenv-plugins/ruby-build"]
	path = tools/rbenv-plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
