[submodule "config/vim/neobundle.vim"]
	path = config/vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "tools/pyenv"]
	path = tools/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "tools/pyenv-plugins/virtualenv"]
	path = tools/pyenv-plugins/virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
[submodule "tools/luaenv"]
	path = tools/luaenv
	url = https://github.com/cehoffman/luaenv.git
[submodule "tools/luaenv-plugins/lua-build"]
	path = tools/luaenv-plugins/lua-build
	url = https://github.com/cehoffman/lua-build.git
