/tools/homebrew/
/tools/neovim/
/tools/dein.vim/.netrwhist
/tools/google-cloud-sdk/
/vim/pack/minpac/start
/vim/.netrwhist


# Manage files under config/ based on whitelist.
/config/*
!/config/vim/
!/config/nvim/
!/config/pip/
!/config/pgcli
/config/pgcli/*
!/config/pgcli/config
/config/nvim/.init.vim-rplugin~
/config/nvim/local.vim

# Use whitelist for mitmproxy.
/mitmproxy/*
!/mitmproxy/common.conf


# Ignore local configurations.
/zsh/zshrc_env_local

.idea/

/ptpython/*
!/ptpython/config.py

/matplotlib/*
!/matplotlib/matplotlibrc

/vim/.netrwhist
