[submodule "tools/dein.vim"]
	path = tools/dein.vim
	url = git@github.com:Shougo/dein.vim
[submodule "tools/pyenv"]
	path = tools/pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "tools/rbenv"]
	path = tools/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "tools/minpac"]
	path = tools/minpac
	url = https://github.com/k-takata/minpac
[submodule "vim/pack/minpac/opt/minpac"]
	path = vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac
